# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:portal
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:portal
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        ic2:reinforced_door
        sakura:bamboo_door
        tofucraft:tofudoor_kinu
        tofucraft:tofudoor_momen
        tofucraft:tofudoor_ishi
        tofucraft:tofudoor_metal
        tofucraft:tofudoor_zunda
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        rockhounding_surface:oak_gate
        rockhounding_surface:spruce_gate
        rockhounding_surface:kauri_gate
        rockhounding_surface:mophane_gate
        rockhounding_surface:palm_gate
        rockhounding_surface:pine_gate
        rockhounding_surface:driftwood_gate
        rockhounding_surface:araucaria_gate
        rockhounding_surface:betula_gate
        rockhounding_surface:castano_gate
        rockhounding_surface:opalized_gate
        rockhounding_surface:rainbow_gate
        rockhounding_surface:azurite_gate
        rockhounding_surface:beech_gate
        rockhounding_surface:teredo_gate
        rockhounding_surface:redwood_gate
        techguns:bunkerdoor
        storagedrawers:keybutton
        quark:nether_brick_fence_gate
        quark:spruce_pressure_plate
        quark:birch_pressure_plate
        quark:jungle_pressure_plate
        quark:acacia_pressure_plate
        quark:dark_oak_pressure_plate
        quark:spruce_button
        quark:birch_button
        quark:jungle_button
        quark:acacia_button
        quark:dark_oak_button
        quark:redstone_randomizer
        quark:iron_button
        quark:gold_button
        quark:obsidian_pressure_plate
        cookingforblockheads:oven
        growthcraft_apples:apple_door
        growthcraft_apples:apple_fence_gate
        growthcraft_bamboo:bamboo_fence_gate
        growthcraft_bamboo:bamboo_door
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:clock
        cyclicmagic:target
        cyclicmagic:password_block
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


